.footer{
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  height: 2rem;
  background-color: #f1f1f1;

  z-index: 9999;

  border-top: 1px solid #e2e2e2;
  /*background-color: #f9f9f9;*/
  box-sizing: border-box;
  bottom:0;
}

.f-text{
  color: #999;
  display: block;
  text-transform: uppercase;
  float: none;
  text-align: center;
  font-weight: 400;
  line-height: 2rem;
}
