<div class="content">
  <div class="goods">
    <div class="row">
      <app-carousel></app-carousel>
    </div>
    <div class="row">
      商品ID：{{product.id}}
    </div>
    <div class="row">
      商品名称：{{product.name}}
    </div>
    <div class="row">
      商品价格：{{product.price}}
    </div>
    <div class="row">
      商品描述：{{product.des}}
    </div>

    <div class="row">
     <a [routerLink]="['./']">商品介绍</a>
      <a [routerLink]="['seller',33]">商品销售信息</a>
    </div>
    <div class="row">
     <router-outlet></router-outlet>
    </div>

  </div>
</div>
